@use "./variables" as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: v.$font-family-base;
  color: v.$color-body;
  background: v.$color-bg;
}

a {
  color: inherit;
  text-decoration: none;
}

.highlighted-text__mark {
  background-color: v.$color-highlight-bg;
  padding: 0 4px;
  border-radius: 4px;
  color: inherit;
  box-decoration-break: clone;
}

h1,
h2,
h3 {
  letter-spacing: 0.2px;
}
